<div class="text-center">
  <h2>Liste des produits</h2>
  <img
    *ngIf="isLoading"
    src="https://img.pikbest.com/58pic/35/39/61/62K58PICb88i68HEwVnm5_PIC2018.gif!w340"
    alt=""
  />
</div>

<div>
  <nav *ngIf="!isLoading" aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="pagination.index <= 1">
        <button class="page-link" (click)="changePage(-1)">Précédent</button>
      </li>
      <li class="page-item" *ngFor="let numPage of getArrayPages()">
        <button (click)="loadPage(numPage)" class="page-link">
          {{ numPage }}
        </button>
      </li>
      <li
        class="page-item"
        [class.disabled]="pagination.index >= pagination.total"
      >
        <button class="page-link" (click)="changePage(1)">Suivant</button>
      </li>
    </ul>
  </nav>
</div>

<div class="cards container d-flex flex-wrap justify-content-around">
  <div
    *ngFor="let produit of produits"
    class="card flex-shrink-0 m-4"
    style="width: 18rem"
  >
    <img
      [src]="produit.image_front_url"
      class="card-img-top"
      [alt]="produit.product_name_fr"
    />
    <div
      class="card-body text-center d-flex flex-column justify-content-between"
    >
      <h5 class="card-title">{{ produit.product_name_fr }}</h5>
      <p class="card-text">{{ produit.generic_name_fr }}</p>
      <a
        (click)="setProduit(produit.id)"
        [routerLink]="['produit', produit.id]"
        class="btn btn-dark"
      >
        Plus d'information
      </a>
    </div>
  </div>
</div>

<div>
  <nav *ngIf="!isLoading" aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="pagination.index <= 1">
        <button class="page-link" (click)="changePage(-1)">Précédent</button>
      </li>
      <li
        class="page-item"
        [class.active]="pagination.index === numPage"
        *ngFor="let numPage of getArrayPages()"
      >
        <button (click)="loadPage(numPage)" class="page-link">
          {{ numPage }}
        </button>
      </li>
      <li
        class="page-item"
        [class.disabled]="pagination.index >= pagination.total"
      >
        <button class="page-link" (click)="changePage(1)">Suivant</button>
      </li>
    </ul>
  </nav>
</div>
