<!-- HTML du composant Principal -->
<h1>App Component</h1>
<div class="alert alert-info">
  <h2>Router</h2>
  <app-k-routing></app-k-routing>
  <div class="alert alert-warning">
    <!-- C'est dans router-oulet que les composants seront chargés -->
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <hr/> -->
<!--
<app-title></app-title>
<app-interpolation>
</app-interpolation>
<app-property-binding></app-property-binding>
<app-d-directives-structurelles></app-d-directives-structurelles>
<app-e-directives-attributs></app-e-directives-attributs>
<app-f-evenement></app-f-evenement>
<app-g-input
    message="Salut !"
    [listProduits]="produits">
</app-g-input>

<p>Compteur: {{ compteur }}</p>
<app-h-output
    [compteurEnfant]="compteur"
    (myIncrementerCompteur)="incrementerParent(
        $event
    )"
    (messageUpdate)="afficherMessage($event)"
>

</app-h-output>
<app-j-service></app-j-service> -->
<app-l-pipes></app-l-pipes>
